/* Samme font overalt */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* bakgrunn */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Header utsende */
header {
    background-color: #ffffff;
    color: #15191e;
    text-align: center;
    padding: 20px 0;
    display: flex; /* husk flexbox for layout */
    align-items: center; 
}

/* Style  logo boks */
.header-logo {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

/* Selve logobilde utsende */
header img {
    margin-left: 5%;
    float: left;
    width: 100px; 
    height: auto; 
}

/* main bokser utsende */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
}

@media (min-width: 400px)  {
    main { 
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px)  {
    main { 
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px)  {
    main { 
        grid-template-columns: repeat(6, 1fr);
    }
}

/* utsende av bokser */
.box {
    background-color: #bebebe; 
    padding: 0; 
    text-align: center; 
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.box p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

/* type forn for h2 */
section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* type form for paragrafer */
article p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}


/* footer utsende */
footer {
    background-color: #ffffff;
    color: #15191e;
    text-align: center;
    padding: 10px 0;
}

